<div>
<!-- 	<form></form>
		<input class="form-control" placeholder="enter a keyword" ng-model="searchTerm"></input>
		<button class="btn btn-default" ng-click="getWords(searchTerm)">submit</button>
	</form> -->

	<div class="col-lg-6 col-lg-offset-3">
		<h1 class="col-lg-offset-3">generate a word cloud</h1>
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="getCurrentId()">Go!</button>
      </span>
      <input type="text" class="form-control" ng-model="searchTerm">
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  

	<div>
		<ul>
			<li>{{ noDuplicates }}</li>
		</ul>
	</div>
</div>